In [1]:
"""
functions vs method
"""
#function
def my_function(x):
    return x+1

my_function(1)
y=3
my_function(y)

4

In [2]:
x=1

class my_class:
    def my_method(self):
        return x+1

cls = my_class()
print(cls.my_method())

2

In [3]:
"""
return keyword
"""
#leap year: 윤년 (2월 29일까지)

def check_leap_year(year):
    if year %4==0:
        return str(year)+" is a leap year."
    else:
        return str(year)+" is a not leap year."

result=check_leap_year(2020)
print(result)

2020 is a leap year.

In [4]:
"""
returning Multiple values
"""

def sequare_point(x,y,z):
    x_sequared=x**2
    y_sequared=y**2
    z_sequared = z**2
    return x_sequared,y_sequared,z_sequared
    
three_sequared, four_sequared, five_sequared= sequare_point(3,4,5)
print(three_sequared,four_sequared,five_sequared)

9 16 25